.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mydiv h1 {
    color: green;
    text-align: center;
}

.mydiv table {
    border-collapse: collapse;
    margin: 0 auto;
}

.mydiv th, .mydiv td {
    border: 1px solid green;
    color: green;
    padding: 6px 12px;
}

.mydiv th {
    background-color: #eaf7ea;
}